node_modules
**/node_modules

.next
**/.next
dist
**/dist
build
**/build
.turbo
**/.turbo
out
**/out
coverage

.git
.gitignore

.env
.env.*
!.env.example

.idea
.vscode
*.swp
.DS_Store

*.log
npm-debug.log*
pnpm-debug.log*
.pnpm-store

infrastructure/docker-compose.yml
